@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-1rem);
    }
}
.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(254, 115, 115);
    min-width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    color: white;
    border-left: 8px solid transparent;
    border-color: rgb(175, 52, 52);
    animation: slide-in 1s ease forwards;
    z-index: 999;
}

.error {
    background-color: rgb(254, 115, 115);
    border-color: rgb(175, 52, 52);
}

.success {
    background-color: rgb(126, 169, 126);
    border-color: rgb(34, 116, 28);
}
